@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

@media screen and (max-width:480px) {
    html {
        font-size: 50%;
    }
}
    
@media screen and (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 75%;
    }
}
@media (min-width: 360px) {
    body {
      font-size: 1.0em;
    }
}

*{
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 100vh;
}
body {
    background-color: #ffcd58;
}

a {
    font-family: 'Krub', sans-serif;
    font-weight: 400;
    /*font-size: 1.7rem;*/
    font-size: 170%;
    color: black;
    text-decoration: none;
    display: inline;
    padding: 10px;
}

nav#menu {
    display: block;
    width: 100%;
    line-height: 2.7rem;
    margin-bottom: 4rem;
}

nav#menu ul {
    list-style: none;
    position: absolute;
    left: 50%;
    justify-content: space-around;
    margin-top: 1.2rem;
}

.boneca-pl-pb {
    width: 100%;
}

.boneca-pl-pb img{
    object-fit: cover;
    width: 39.5%;
    height: 45%;
    margin-left: 1.5%;
    margin-top: -32.7%;
}

.conceito h1{
    font-family: 'Krub', sans-serif;
    font-weight: 500;
    font-size: 5rem;
    margin-left: 39%;
    padding-top: 25%;
    line-height: 1.2;
}
.conceito p{
    font-family: 'Krub', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    margin-left: 39%;
    /*padding-top: 25%;*/
    padding: .5%;
    
}

.conceito h2{
    font-family: 'Krub', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-left: 39%;
}

footer{
    width: 100%;
    height: 6.5rem;
    background-color: #404041;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10%;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p{
    width: 100%;
    font-family: 'Krub', sans-serif;
    font-weight: 500;
    font-size: .8rem;
    margin-left: 1rem;
}

.rede-social a{
    width: 100%;
    margin: 0.2rem;
    color: black;
    font-size: 3rem;
}

.rede-social ul{
    width: 100%;
    display: flex;
}

.rede-social a:hover{
    opacity: .4;
}

#logo{
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-items: center;
}