header{
    height: 100%;
}
.bonecas-pl-boneca-pl-pb img{
    object-fit: cover;
    width: 20%;
    height: 45%;
    margin-left: 65%;
}

#bonequinha-pl-pb{
    object-fit: cover;
    width: 30%;
    height: 45%;
    margin-left: 20%;
    margin-top: 1%
}

.conceito h1 {
    font-size: 6vw;
    font-weight: 500;
    padding-top: 30%;
    margin-left: 48%;
}

.events-container {
    height: 100%;
    display: grid;
    margin-left: -30%;
    margin-top: 5%;
    color: #ffcd58;
}

.grid {
    width: 125%;
    margin: 0;
    padding: 0;
}
#archive .grid a {
   overflow: hidden;
   padding: 0.25em;
   text-decoration: none;
   text-align: center;
   border-radius: 0.5em;
}

#archive .grid a .month {
    background-color: #b3b3b3;
    color: white;
    line-height: 1.5em;
    margin: 0;
    font-size: 0.8em;
    min-height: 35px;
    border-radius: .7em .7em 0 0;
}
 
#archive .grid a .day {
    background-color: white;
    margin: 0;
    line-height: 1.5em;
    font-size: 20px;
}
#archive .grid a .year {
   background-color: white;
   line-height: 2em;
   font-size: 12px;
}

#archive .grid a .local {
   background-color: white;
   border-top: 1px dashed #b3b3b3;
   line-height: 2em;
   border-radius: 0 0 1em 1em;
   font-size: 16px;
}

 /*Carrosel*/

.slide-content h2{
   font-family: "Krub", sans-serif;
   font-size: 5vw;
   font-weight: 400;
   color: #000000;
}

.slide-content h2{
    padding-top: 5rem;
    padding-bottom: 8rem;
}

#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
#slider input[type=radio] {
    display: none;
 }
#slider label {
    cursor:pointer;
    text-decoration: none;
}
#slides {
    padding: 10px;
    background: #ffcd58;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }

 #slide5:checked ~ #slides .inner {
    margin-left: -400%;
 }

 #slide6:checked ~ #slides .inner {
    margin-left: -500%;
 }

 #slide7:checked ~ #slides .inner {
    margin-left: -600%;
 }

 #slide8:checked ~ #slides .inner {
    margin-left: -700%;
 }

 #slide9:checked ~ #slides .inner {
    margin-left: -800%;
 }

 #slide10:checked ~ #slides .inner {
    margin-left: -900%;
 }

 #slide11:checked ~ #slides .inner {
    margin-left: -1000%;
 }

 #slide12:checked ~ #slides .inner {
    margin-left: -1100%;
 }

 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 1460%;
    /*width: 1460%;*/
    /*width: 11150px;*/
    line-height: 0;
    height: 350px;
 }
 #slides .slide {
    width: 6.85%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100%;*/
    color: #fff;
    padding-top: 1rem;
 }

 @media(min-width: 280px) and (max-width: 320px){
   #slides .inner {
      transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      width: 1440%;
      /*width: 1460%;*/
      /*width: 11150px;*/
      line-height: 0;
      height: 350px;
   }
   #slides .slide {
      width: 6%;
      float:left;
      display: flex;
      justify-content: center;
      align-items: center;
      /*height: 100%;*/
      color: #fff;
      padding-top: 1rem;
      padding-left: 1%;
   }

   .grid {
      width: 100%;
      margin: 0;
      padding: 0;
  }

  .slide-content h2{
      padding-top: 5rem;
      padding-bottom: 8rem;
      margin-left: -25%;
}

}

#slides .slide_1 {
    background: #ffcd58;
}
#slides .slide_2 {
    background: #ffcd58;
}
 #slides .slide_3 {
    background: #ffcd58;
 }
 #slides .slide_4 {
    background: #ffcd58;
 }

 #slides .slide_5 {
    background: #ffcd58;
 }

 #slides .slide_6 {
    background: #ffcd58;
 }

 #slides .slide_7 {
    background: #ffcd58;
 }

 #slides .slide_8 {
    background: #ffcd58;
 }

 #slides .slide_9 {
    background: #ffcd58;
 }

 #slides .slide_10 {
    background: #ffcd58;
 }

 #slides .slide_11 {
    background: #ffcd58;
 }

 #slides .slide_12 {
    background: #ffcd58;
 }

 #controls {
    margin: -35% 0 0 0;
    /*margin: -180px 0 0 0;*/
    width: 100%;
    height: 10rem;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    /*display: none;*/
    width: 50px;
    height: 100vh;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(5),
 #slide5:checked ~ #controls label:nth-child(6),
 #slide6:checked ~ #controls label:nth-child(7),
 #slide7:checked ~ #controls label:nth-child(8),
 #slide8:checked ~ #controls label:nth-child(9),
 #slide9:checked ~ #controls label:nth-child(10),
 #slide10:checked ~ #controls label:nth-child(11),
 #slide11:checked ~ #controls label:nth-child(12),
 #slide12:checked ~ #controls label:nth-child(1){
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 0 0 0;
    display: block;
    width: 3em;
 }
 
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(12),
#slide3:checked ~ #controls label:nth-last-child(11),
#slide4:checked ~ #controls label:nth-last-child(10),
#slide5:checked ~ #controls label:nth-last-child(9),
#slide6:checked ~ #controls label:nth-last-child(8),
#slide7:checked ~ #controls label:nth-last-child(7),
#slide8:checked ~ #controls label:nth-last-child(6),
#slide9:checked ~ #controls label:nth-last-child(5),
#slide10:checked ~ #controls label:nth-last-child(4),
#slide11:checked ~ #controls label:nth-last-child(3),
#slide12:checked ~ #controls label:nth-last-child(2)
{
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 0;
    display: block;
    width: 3em;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #b3b3b3;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4),
 #slide5:checked ~ #bullets label:nth-child(5),
 #slide6:checked ~ #bullets label:nth-child(6),
 #slide7:checked ~ #bullets label:nth-child(7),
 #slide8:checked ~ #bullets label:nth-child(8),
 #slide9:checked ~ #bullets label:nth-child(9),
 #slide10:checked ~ #bullets label:nth-child(10),
 #slide11:checked ~ #bullets label:nth-child(11),
 #slide12:checked ~ #bullets label:nth-child(12){
    background: #404041;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(5),
    #slide5:checked ~ #controls label:nth-child(6),
    #slide6:checked ~ #controls label:nth-child(7),
    #slide7:checked ~ #controls label:nth-child(8),
    #slide8:checked ~ #controls label:nth-child(9),
    #slide9:checked ~ #controls label:nth-child(10),
    #slide10:checked ~ #controls label:nth-child(11),
    #slide11:checked ~ #controls label:nth-child(12),
    #slide12:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(5),
    #slide5:checked ~ #controls label:nth-last-child(6),
    #slide6:checked ~ #controls label:nth-last-child(7),
    #slide7:checked ~ #controls label:nth-last-child(8),
    #slide8:checked ~ #controls label:nth-last-child(9),
    #slide9:checked ~ #controls label:nth-last-child(10),
    #slide10:checked ~ #controls label:nth-last-child(11),
    #slide11:checked ~ #controls label:nth-last-child(12),
    #slide12:checked ~ #controls label:nth-last-child(1)
    {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }

 #footer-eventos{
    margin-top: 0;
 }